div {
	left: 50%;
	top: 50%;
	position: absolute;
	width: 512px;
	transform: translate(-50%, -50%);
}

h1 {
	color: red;
	text-align: center;
	padding-bottom: 20px;
}

div > p {
	font-size: 1.3rem;
	font-family: cursive;
	text-align: center;
}