body, html {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 60px;
	background: rgb(18, 18, 18);
	text-align: center;
	color: rgb(218, 218, 218);
	margin-top: -3px;
	padding-top: 10px;
}

.header a, a:visited, a:link {
	color: rgb(218, 218, 218);
	cursor: pointer;
	text-decoration: none;
}

.main {
	left: 50%;
	top: 50%;
	position: absolute;
	width: 512px;
	transform: translate(-50%, -50%);
	border: 1px solid green;
	padding: 30px;
	border-radius: 12px;
}

h1 {
	color: red;
	text-align: center;
	padding-bottom: 20px;
	user-select: none;
}

.main > p {
	font-size: 1.3rem;
	font-family: cursive;
	text-align: center;
}

.drive, .drive:visited {
	color: blue;
}

.drive:hover {
	cursor: pointer;
	color: green;
}

span {
	color: orange;
}

a, span {
	text-decoration: underline;
	font-weight: 550;
}

li {
	font-family: 'cursive';
	font-size: 17px;
	font-weight: 550;
}