div {
	left: 50%;
	top: 50%;
	position: absolute;
	width: 512px;
	transform: translate(-50%, -50%);
}

h1 {
	color: red;
	text-align: center;
	padding-bottom: 20px;
	user-select: none;
}

div > p {
	font-size: 1.3rem;
	font-family: cursive;
	text-align: center;
}

a, a:visited {
	color: blue;
}

a:hover {
	cursor: pointer;
	color: green;
}

span {
	color: orange;
}

a, span {
	text-decoration: underline;
	font-weight: 550;
}

li {
	font-family: 'cursive';
	font-size: 17px;
	font-weight: 550;
}